.wrapper {
  #contact-form {
    margin: 0 auto;
    margin-top: 60px;
    background-color: #00000011;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    gap: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

    .form-group {
      .form-control {
        width: 200px;
      }

      select {
        cursor: pointer;
      }
    }

    .error {
      color: rgb(190 18 60);
    }

    h3,
  p {
    color: #e2e8f0;
  }
  }

  .contact-submit {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
    width: 148px;
    height: 45px;
    border: 1px solid #e2e8f0;
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: 0 0;
    color: #e2e8f0;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition: color 0.4s;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      width: 300%;
      height: 100%;
      background: #0284c7;
      z-index: -1;
      transition: all 0.4s;
      transform: translateX(-50%) scaleX(0);
      transform-origin: left;
    }

    &:hover::before {
      transform: translateX(-50%) scaleX(1);
    }

    &:hover {
      color: #000;
      border: none;
    }
  }
}

@media only screen and (max-width: 720px) {
  #contact-form {
    margin-top: 20px !important;
    margin-bottom: 28px !important;
    width: 90% !important;
    padding-left: 10px;
    padding-right: 10px;
  }
}
