@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    background: linear-gradient(360deg, #000000, #333366);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #main-wrapper {
        width: 80%;
    }
}


.container{
    display: flex;
    flex-direction: row;
    margin-top: 120px;
    justify-content: space-around;

}

.shoe{
    width: 80%;
    display: flex;
    flex-direction: column;
    font-size: 70px;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 40px;
}

.nike{
    display: flex;
    font-size: 200px;
    color: transparent; 
    text-shadow: 0 0 2px white; 
    color: #071933;
    font-weight: bold;
    right: 20px;
}

.nike2-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
        width: 40%;
        color: white;
        text-align: center;
    }
    strong {
        color: rgb(14, 106, 210);
    }
}
.nike2 {
    width: 20%;
    display: flex;
    flex-direction: column;
    color: white;
}
.shoe1{
    position: absolute;
    width: 380px;
    height: 380px;
    right: 240px;
    top: 160px;
  
}
.one{
    color: rgb(14, 106, 210);
    display: inline; 
}
.btn{
    font-size: 10px;
    width: 100px;
    background: linear-gradient(to right, #4c71c0, #071933);

    
}

.navbar{
    background-color:#172554;
    border-bottom: solid 1px rgb(195, 195, 195);
    border-top: solid 1px rgb(195, 195, 195);
}

.navbar .navbar-nav .nav-link {
    color: rgb(243, 238, 238); 
}

.custom-text-color {
    color: rgb(248, 248, 248); 
    margin-right: 400px;
    margin-left: 100px;
  }

// .cart{
//     margin-left: 300px;
// }

.OurProduct{
    width: 100%;
    font-size: 20px;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    margin-top: 40px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}


.our{
    margin-top: 15px;
    color: rgb(14, 106, 210);
}

.container1{
    width: 80%;
    height: 540px;
    flex-direction: row;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.lastproducts{
    height: 17rem;
    

}
.lpimg{
    width: 50%;
    height: 80%;
}

.products{
    box-sizing: border-box;
   

}

.see-more-div {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 30px; 

    a {
        text-decoration-line: none;
        color: white;

        i { 
            margin-left: 10px;
            margin-right: 10px;
        }
        .fa-arrow-right {
            animation: moveArrowright 5s forwards ease-in-out;
            animation-iteration-count: infinite;
        }
        .fa-arrow-left {
            animation: moveArrowLeft 5s forwards ease-in-out;
            animation-iteration-count: infinite;
        }
        strong {
            animation: changeColorSeeMore 5s forwards ease-out;
            animation-iteration-count: infinite;
            color: white;
        }

    }
}

@keyframes moveArrowright {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        transform: scale(1) translateX(0);
    }

    50% {
        box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35);
        transform: scale(1.1) translateX(10px);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        transform: scale(1) translateX(0);
    }
}

@keyframes moveArrowLeft {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        transform: scale(1) translateX(0);
    }

    50% {
        box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35);
        transform: scale(1.1) translateX(-10px);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        transform: scale(1) translateX(0);
    }
}

@keyframes changeColorSeeMore {
    0% {
        color: white;
    }

    30% {
        color: rgb(14, 106, 210);
    }

    60% {
        color: rgb(14, 106, 210);
    }

    100% {
        color: white;
    }
}

.feedback {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 30px;
    i {
        color: rgb(217, 170, 0);
        margin-top: 10px;
    }
    .feedback-client {
        width: 20%;
        text-align: center;

        img {
            width: 60px;
            border-radius: 50%;
        }
    }
}