.articles-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 45px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 200px;
    form {
        .card-product {
            width: 20rem;
            .card-img-top-product {
                height: 350px;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .articles-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        row-gap: 45px;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin-top: 200px;
        margin-bottom: 50px;
        form {
            .card-product {
                width: 8rem;
                .card-img-top-product {
                    height: 200px;
                }
            }
            .card-body-product {
                height: 150px;
                h5 {
                    font-size: 80%;
                }
            }
        }
    }
  }