.articles-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 45px;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
  
    form {
      .card-product {
        position: relative;
        width: 18rem;
        border-radius: 5px;
  
        .card-img-top-product {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          height: 300px;
        }
        .btn {
          position: absolute;
          bottom: 0;
        }
        .card-body-product {
          height: 90px;
        }
      }
    }
  }
  
  @media (min-width: 319px) and (max-width: 768px) {
    .articles-container {
      column-gap: 30px;
      row-gap: 25px;
      margin-top: 150px;
      margin-bottom: 50px;
  
      form {
        .card-product {
          width: 8rem !important;
  
          .card-img-top-product {
            height: 150px;
          }
        }
  
        .card-body-product {
          height: 90px;
  
          h5 {
            font-size: 80%;
          }
        }
      }
    }
  }
  

.card{
    background-color: transparent;
    .card-title {
        color: white;
    }
    .card-text{
        color: white;
    }
    .btn btn-primary{
    color: white;
    background-color: rgb(68, 68, 232);
    }
}
