$breakpoint-tablet: 768px;
$breakpoint-smartphone: 321px;
$breakpoint-laptop: 1021px;


/* Using plain CSS */
@media (min-width: 300px ) and (max-width:660px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #main-wrapper {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
          
        }
    }
    .shoe{
        width: 90%;
        display: flex;
        flex-direction: column;
        font-size: 40px;
        color: white;
        font-family: "Ubuntu", sans-serif;
        font-weight: bold;
        margin-left: 20px;
        margin-top: 60px;
        #shoethe{
            margin-left: 35px;
        }
        #right{
            margin-left: 20px;
        }
        .btn-sm{
            margin-left: 30px;
        }
      
    }



.container2 {
    position: relative;
    display: inline-block; 
  }
  
  .nike {
    position: relative;
    z-index: 1; 
    font-size: 120px;
    color: transparent;
    text-shadow: 0 0 2px white; 
    color: #071933;
    font-weight: bold;
    right: 10px;

  }
  
  .shoe1 {
    position: absolute;
    top: 0; 
    left: 20px; 
    z-index: 2; 
    height: 200px;
    width: 200px;
  }
  .container1{
   overflow-x: scroll;
   overflow-y: none;
   width: 100%;
   height: 400px;
    gap: 20px;
    row-gap: 45px;
    justify-content: flex-start;
  }
  .card{
    width: 100px;
    height: 100px;
  }
  .imgcard{
    height: 60%;
    width: 70%;
  }
  .nike2 {
    width: 20%;
    display: flex;
    flex-direction: column;
    color: white;
}


.lproducts{
    font-size: 40px;
    margin-right: 40px;
    .our{
        margin-right: 10px;
    }
}

.one{
    margin-left: 15px;
}

    .nike2-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .nike2{
            width: 60%;
        }
        .shoe2{
            margin-bottom: 10px;
        }
        h2{
            width: 300px;
        }
        p {

            width: 60%;
            color: white;
            
           
        }
        strong {
            color: rgb(14, 106, 210);
        }
    }
    .feedback{
        display: flex;
        flex-direction: column;
        width: 100%;
        .feedback-client{
            width: 100%;
            font-size: 20px;
        }
    }

}
