$breakpoint-tablet: 768px;
$breakpoint-smartphone: 321px;
$breakpoint-laptop: 1021px;


/* Using plain CSS */
@media (min-width: 200px ) and (max-width:660px) {
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        #main-wrapper {
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 60px;
          
        }
    }
    .shoe{
        width: 90%;
        display: flex;
        flex-direction: column;
        font-size: 40px;
        color: white;
        font-family: "Ubuntu", sans-serif;
        font-weight: bold;
        margin-left: 20px;
        margin-top: 60px;
        #shoethe{
            margin-left: 35px;
        }
        #right{
            margin-left: 20px;
        }
        .btn-sm{
            margin-left: 30px;
        }
      
    }

.OurProduct {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: baseline;
    overflow: hidden;
}

.container2 {
    position: relative;
    display: inline-block; 
  }
  
  .nike {
    position: relative;
    z-index: 1; 
    font-size: 120px;
    color: transparent;
    text-shadow: 0 0 2px white; 
    color: #071933;
    font-weight: bold;
    right: 10px;

  }
  
  .shoe1 {
    position: absolute;
    top: 0; 
    left: 20px; 
    z-index: 2; 
    height: 200px;
    width: 200px;
  }
  .container1 {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow-x: scroll;
  }
  
  .card{
    width: 15rem;
    height: 100%;
  }
  .imgcard{
    height: 200px;
    width: 100%;
  }

  .nike2 {
    width: 20%;
    display: flex;
    flex-direction: column;
    color: white;
}


.lproducts{
    font-size: 40px;
    margin-right: 40px;
    .our{
        margin-right: 10px;
    }
}

.one{
    margin-left: 15px;
}

    .nike2-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        .nike2{
            width: 60%;
        }
        .shoe2{
            margin-bottom: 10px;
        }
        h2{
            width: 300px;
        }
        p {

            width: 60%;
            color: white;
            
           
        }
        strong {
            color: rgb(14, 106, 210);
        }
    }
    .feedback{
        display: flex;
        flex-direction: column;
        width: 100%;
        .feedback-client{
            width: 90%;
            font-size: 20px;
        }
    }
    .error-page{
      display: flex;
      flex-direction: column;
    }

}
@media (min-width: 660px ) and (max-width:1200px) {
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        #main-wrapper {
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 80px;
          
        }
    }
    .shoe{
        width: 90%;
        display: flex;
        flex-direction: column;
        font-size: 60px;
        color: white;
        font-family: "Ubuntu", sans-serif;
        font-weight: bold;
        margin-left: 20px;
        margin-top: 60px;
        #shoethe{
            margin-left: 35px;
        }
        #right{
            margin-left: 20px;
        }
        .btn-sm{
            margin-left: 30px;
        }
      
    }



.container2 {
    position: relative;
    display: inline-block; 
  }
  
  .nike {
    position: relative;
    z-index: 1; 
    font-size: 140px;
    color: transparent;
    text-shadow: 0 0 2px white; 
    color: #071933;
    font-weight: bold;
    right: 10px;

  }
  
  .shoe1 {
    position: absolute;
    top: 0; 
    left: 20px; 
    z-index: 2; 
    height: 200px;
    width: 200px;
  }
  .container1 {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 90%;
    height: 400px;
   
    margin: 30px;

    /* Style de la scrollbar */
    &::-webkit-scrollbar {
        width: 12px; /* Largeur pour les barres verticales */
        height: 12px; /* Hauteur pour les barres horizontales */
    }

    /* Style du pouce (la partie qui se déplace) */
    &::-webkit-scrollbar-thumb {
        background: #0247be; /* Couleur de base */
        border-radius: 16px; /* Coins arrondis */
    }

    /* Style du pouce au survol */
    &::-webkit-scrollbar-thumb:hover {
        background: #55555500; /* Couleur au survol */
    }

    /* Style de la piste de défilement */
    &::-webkit-scrollbar-track {
        background: #f1f1f100; /* Couleur de fond */
        border-radius: 16px; /* Coins arrondis */
    }

    /* Style des coins (pour les barres horizontale et verticale combinées) */
    &::-webkit-scrollbar-corner {
        background: #f1f1f100;
    }

    /* Firefox */
    scrollbar-color: #268bbd #f1f1f100; /* Couleur du pouce et de la piste */
    scrollbar-width: thin; /* Largeur de la scrollbar (thin, auto, none) */
}


  .card{
    width: 18rem;
    height: 100%;
  }
  .imgcard{
    height: 250px;
    width: 100%;
  }
  .nike2 {
    width: 20%;
    display: flex;
    flex-direction: column;
    color: white;
}


.lproducts{
    font-size: 40px;
    margin-right: 40px;
    .our{
        margin-right: 10px;
    }
}

.one{
    margin-left: 15px;
}

    .nike2-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .nike2{
            width: 60%;
        }
        .shoe2{
            margin-bottom: 10px;
        }
        h2{
            width: 300px;
            margin-left: 100px;
            margin-bottom: 40px;

        }
        p {

            width: 60%;
            color: white;
            
           
        }
        strong {
            color: rgb(14, 106, 210);
        }
    }
    .feedback{
        display: flex;
        flex-direction: column;
        width: 100%;
        .feedback-client{
            width: 100%;
            font-size: 20px;
        }
    }
    .error-page{
      display: flex;
      flex-direction: column;
    }
}