@import '_reset';
@import '_productPage';
@import '_cart';
@import '_home';
@import '_footer';

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    border: none;
    background-color: rgb(14, 106, 210);
}

#navbarNavAltMarkup {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    .cart-icon {
        margin-right: 15%;
        margin-left: 5%;
        color: #e2e8f0;

        &:hover {
            cursor: pointer;
        }
    }

    a {
        &:hover {
            scale: 1.1;
        }
    }
}