@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.articles-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 45px;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 30px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1e293b;
  color: #e2e8f0;
  min-height: 100vh;
  width: 100%;
  position: relative;
}
body main {
  display: flex;
  flex-direction: column;
}
body main #main-wrapper {
  display: flex;
  flex-direction: row;
}
body main #cart {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  right: 0;
  text-align: center;
}
body main #cart table {
  border: 1px solid #e2e8f0;
  width: 450px;
  margin: 0 auto;
  display: flex;
  position: relative;
  min-height: 55vh;
  background-color: rgba(0, 0, 0, 0.055);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  font-size: small;
}
body main #cart table tr {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
body main #cart table tr td form .quantity {
  width: 50%;
}
body main #cart table .table-footer {
  display: flex;
  justify-content: space-around;
}
body main #cart table .total {
  display: flex;
  flex-direction: row;
}
body main h1 {
  text-align: center;
  margin-top: 3%;
  text-transform: uppercase;
  margin-bottom: 3%;
}
body main .total {
  margin-top: 10%;
}
body main button {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  width: 148px;
  height: 45px;
  border: 1px solid #e2e8f0;
  margin: auto;
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: 0 0;
  color: #e2e8f0;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: color 0.4s;
}
body main button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 300%;
  height: 100%;
  background: #0284c7;
  z-index: -1;
  transition: all 0.4s;
  transform: translateX(-50%) scaleX(0);
  transform-origin: left;
}
body main button:hover::before {
  transform: translateX(-50%) scaleX(1);
}
body main button:hover {
  color: #000;
  border: none;
}

body {
  background-color: #172554;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
  justify-content: space-around;
}

.shoe {
  display: flex;
  flex-direction: column;
  font-size: 70px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 40px;
}

.nike {
  display: flex;
  font-size: 200px;
  color: transparent;
  text-shadow: 0 0 2px white;
  color: #071933;
  font-weight: bold;
  right: 20px;
}

.shoe1 {
  position: absolute;
  width: 380px;
  height: 380px;
  right: 240px;
  top: 160px;
}

.one {
  color: rgb(14, 106, 210);
  display: inline;
}

.btn {
  font-size: 10px;
  width: 100px;
  background: linear-gradient(to right, #4c71c0, #071933);
}

.navbar {
  background-color: #172554;
  border-bottom: solid 1px rgb(195, 195, 195);
  border-top: solid 1px rgb(195, 195, 195);
}

.navbar .navbar-nav .nav-link {
  color: rgb(243, 238, 238);
}

.custom-text-color {
  color: rgb(248, 248, 248);
  margin-right: 400px;
  margin-left: 100px;
}

.cart {
  margin-left: 300px;
}

.OurProduct {
  width: 100%;
  font-size: 20px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  margin-top: 40px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our {
  color: rgb(14, 106, 210);
}

.container1 {
  width: 80%;
  height: 540px;
  flex-direction: row;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.lastproducts {
  height: 17rem;
}

.lpimg {
  width: 50%;
  height: 80%;
}

.products {
  box-sizing: border-box;
}

.see-more-div {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.see-more-div a {
  text-decoration-line: none;
  color: white;
}
.see-more-div a i {
  margin-left: 10px;
  margin-right: 10px;
}
.see-more-div a .fa-arrow-right {
  animation: moveArrowright 5s forwards ease-in-out;
  animation-iteration-count: infinite;
}
.see-more-div a .fa-arrow-left {
  animation: moveArrowLeft 5s forwards ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes moveArrowright {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1) translateX(0);
  }
  50% {
    box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35);
    transform: scale(1.1) translateX(10px);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1) translateX(0);
  }
}
@keyframes moveArrowLeft {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1) translateX(0);
  }
  50% {
    box-shadow: -12px 0 20px -12px rgba(0, 0, 0, 0.35);
    transform: scale(1.1) translateX(-10px);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1) translateX(0);
  }
}
#navbarNavAltMarkup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#navbarNavAltMarkup .cart-icon {
  margin-right: 15%;
  color: #e2e8f0;
}
#navbarNavAltMarkup .cart-icon:hover {
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */